
.header-luxury {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;

  background: rgba(253, 249, 243, 0.95);
  backdrop-filter: blur(10px);

  border-bottom: 1px solid #E8D5C4;
}

.header-wrapper {
  max-width: 1250px;
  margin: 0 auto;
  padding: 15px 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-luxury {
  display: flex;
  flex-direction: column;
  line-height: 1;
  cursor: pointer;
}

.brand-name {
  font-size: 26px;
  letter-spacing: 4px;
  color: #5C4033;
}

.brand-sub {
  font-size: 10px;
  letter-spacing: 3px;
  color: #B5945E;
  text-align: center;
}

.search-luxury {
  display: flex;
  align-items: center;

  width: 380px;
  background: #fff;
  border: 1px solid #E8D5C4;
  border-radius: 30px;
  padding: 5px 10px 5px 20px;
}

.search-luxury input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 13px;
}

.btn-search-lux {
  background: #B5945E;
  color: #fff;
  border: none;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
}

.actions-luxury {
  display: flex;
  gap: 35px;
}

.action-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px; 
  cursor: pointer;
  color: #5C4033;
  transition: 0.3s;
}
.lux-icon {
  font-size: 22px; 
}

.lux-label {
  font-size: 13px; 
  font-weight: 500;
}

.action-item:hover {
  color: #B5945E;
  transform: translateY(-2px);
}

.cart-lux-wrapper {
  position: relative;
}

.cart-lux-count {
  position: absolute;
  top: -5px;
  right: -10px;

  background: #B5945E;
  color: #fff;
  font-size: 9px;
  font-weight: bold;

  width: 18px; 
  height: 18px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  border: 1.5px solid #fdf9f3;
}