/* ================= MENU CHA ================= */
.menu-luxury-navy {
  position: fixed;
  top: 75px;
  left: 0;

  width: 100%;
  z-index: 999;

  background: rgba(255,255,255,0.95);
  backdrop-filter: blur(10px);

  border-bottom: 1px solid #eee;
}

.menu-container {
  max-width: 1250px;
  margin: 0 auto;
}

.menu-list {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 45px;
  padding: 18px;

  list-style: none;
}

.menu-item {
  position: relative;
}

.menu-link {
  text-decoration: none; 
  color: #3e2f2f;

  font-size: 13px;
  letter-spacing: 2px;
  text-transform: uppercase;

  position: relative;
  cursor: pointer;
  transition: 0.3s;
}

.menu-link::after {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 50%;
  transform: translateX(-50%);

  width: 0; 
  height: 1.5px;
  background: #c5a572;

  transition: all 0.3s ease;
}

.menu-item:hover .menu-link {
  color: #c5a572;
}

.menu-item:hover .menu-link::after {
  width: 100%;
}


.mega-menu {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, 30px);

  width: 100vw;
  background: #fff;

  display: flex;
  justify-content: center;
  gap: 80px;

  padding: 40px 80px;

  opacity: 0;
  visibility: hidden;

  transition: 0.3s;

  box-shadow: 0 25px 60px rgba(0,0,0,0.08);
}

.menu-item:hover .mega-menu {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 0);
}

.mega-column {
  min-width: 200px;
}

.mega-title {
  font-weight: 600;
  margin-bottom: 10px;
  color: #3e2f2f;
}

.mega-item {
  display: block;
  text-decoration: none; 
  color: #777;
  margin: 6px 0;
  transition: 0.25s;
}

.mega-item:hover {
  color: #c5a572;
  transform: translateX(5px);
}